# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
z
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode stuff
.vscode/
liblua/*
objdump.txt
memmap.txt
objdump.txt

CMakeCache.txt
CMakeFiles/
test.*